$font-primary: (
	font-family: (
		Merriweather,
		serif
	),
	load: true,
	weights: (
		'Bold': 700,
		'Regular': 400
	),
	path: '~assets/fonts',
	files: (
		'woff2'
	),
	use: (
		'h1',
		'h2',
		'h3',
		'h4',
		'h5'
	),
	types: (
		'normal'
	)
);

$font-secondary: (
	font-family: (
		Lato,
		serif
	),
	load: true,
	weights: (
		'Regular': 400,
		'Semibold': 600
	),
	path: '~assets/fonts',
	files: (
		'woff2'
	),
	use: (
		'p'
	),
	types: (
		'normal'
	)
);
